body {
    font-family: 'Georgia', serif;
    background: url('../images/image1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #483d8b;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

h1 {
    color: #f4a460;
}

h2, h3 {
    color: #556b2f;
}

ul {
    list-style-type: disc;
}

a {
    color: #ff4500;
}

p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    color: #483d8b;
    margin-bottom: 25px;
}

@media (max-width: 375px) {
    body {
        font-family: 'Georgia', serif;
        background: url('../images/image2.jpg') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    header, footer {
        background-color: #2e8b57;
        color: #ffffff;
        text-align: center;
        padding: 20px;;
    }

    h1 {
        color: #ff7f50;
    }

    h2, h3 {
        color: #8b4513;
    }

    ul {
        color: white;
        list-style-type: circle;
    }

    a {
        color: #ff6347;
    }

    p {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 12px;
        color: #2e8b57;
    }
}
